{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'LEX/css/autenticacion.css' %}">
</head>



<body>
    <header>
        <div class="navigation-card">
            <a href="{% url 'index' %}" class="tab">
                <svg
                class="svgIcon"
                viewBox="0 0 104 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M100.5 40.75V96.5H66V68.5V65H62.5H43H39.5V68.5V96.5H3.5V40.75L52 4.375L100.5 40.75Z"
                    stroke="black"
                    stroke-width="7"
                ></path>
                </svg>
            </a>
        </div>
    </header>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'login' %}">¿Ya tienes una cuenta? Inicia sesión aquí</a>
    </div>
</body>
</html>

